* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-background: white;
  --color-font: #323238;
  --color-sound-btn-bg: #e1e1e6;
  --color-sound-btn-selected: #02799d;
  --color-sound-btn-selected-font: white;
}

.dark {
  --color-background: black;
  --color-font: white;
  --color-sound-btn-bg: hsla(240, 6%, 17%, 1);
  --color-sound-btn-selected: hsla(195, 74%, 15%, 1);
  --color-sound-btn-selected-font: white;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;

  gap: 19rem;

  justify-content: center;
  align-items: center;

  min-height: 100%;

  background-color: var(--color-background);
}

button {
  border-style: none;
  cursor: pointer;
  background-color: Transparent;
}

path {
  fill: var(--color-font);
}

.timer {
  margin-bottom: 1rem;
}

.timer:hover {
  cursor: pointer;
}

.timer span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;

  color: var(--color-font);
}

.options {
  display: flex;
  justify-content: space-around;
}

.sounds {
  display: grid;
  grid-template-areas:
    "A B"
    "C D";

  gap: 3.2rem;
}

.sounds button {
  background-color: var(--color-sound-btn-bg);
  border-radius: 2.5rem;

  width: 138px;
  height: 152px;
  transition: color 100ms;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sounds button:hover {
  opacity: 0.8;
}

.sounds path {
  fill: var(--color-font);
}

.selected {
  background-color: var(--color-sound-btn-selected) !important;
  --color-font: white
}

.selected path {
  fill: var(--color-sound-btn-selected-font);
}

.volume {
  margin: 3.8rem auto 0;
  width: 9rem;
}

header {
  position: fixed;
  right: 0;
  top: 0;
}

.light-mode {
  background: none;
  margin: 6rem;
}

.dark-mode {
  background: none;
  margin: 6.2rem;
}

.hide {
  display: none;
}
