* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;

  gap: 19rem;

  justify-content: center;
  align-items: center;

  min-height: 100%;
}

button {
  border-style: none;
  cursor: pointer;
}

.timer {
  margin-bottom: 1rem;
}

.timer:hover {
  cursor: pointer;
}

.timer span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;

  color: #323238;
}

.counter button {
  background-color: #ffff;
}

.options {
  display: flex;
  justify-content: space-around;
}

.sounds {
  max-width: 40rem;

  display: grid;
  grid-template-areas:
    "A B"
    "C D";

  gap: 3.2rem;
}

.sounds button {
  background-color: #e1e1e6;
  border-radius: 2.5rem;
  padding: 4.5rem;
  transition: color 100ms;
}

.sounds button:hover {
  background-color: #c2c2c5f3;
}

.selected {
  background-color: aqua !important;
}